[rhel72]
name=RHEL72
baseurl=http://download.eng.pnq.redhat.com/released/RHEL-7/7.2/Server/x86_64/os/
enabled=1
skip_if_unavailable=1
gpgcheck=0

[rhel72more]
name=RHEL72more
baseurl=http://download.eng.pnq.redhat.com/released/RHEL-7/7.2/Server-optional/x86_64/os/
enabled=1
skip_if_unavailable=1
gpgcheck=0
